.mainBanner {
    background-color: #F8F7F7;
}
.mainBannerText {
    position: relative;
}
.mainBanner .caps {
    z-index: 0;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.leftSide img{
    position: absolute;
}
a {
    text-decoration: none;
    margin-bottom: 40px;
}
.mainBanner h2 {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    margin: 0;
    padding-top: 140px;
}
.mainBanner p { 
    width: 490px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}
.rightElems {
    display: flex;
}
.yellowElipse {
    display: block;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: yellow;
    transform: translate(-40%,0);
}
.redElipse {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    transform: translate(80%, 100%);
}
.blick {
    display: block;
    width: 52px;
    height: 52px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(249, 249, 249, 0.46) 0%, rgba(222, 70, 70, 0) 100%);;
}
.leftSide {
    transform: translate(-25%,-50%) rotate(-60deg);
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightSide {
    transform: translate(-5%,17%) rotate(-40deg);
}
