.headerCont{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.tabs p{
    display: inline-block;
}
.tabs p:nth-child(2) {
    margin: 0 75px;
}
