.headerCont{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
.tabs a{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.tabs a:nth-child(2) {
    margin: 0 75px;
}

