.line {
    display: inline-block;
    width: 100%;
    border: 1px solid;
    opacity: 0.06;
    margin-bottom: 30px;
    margin-top: 70px;
}
.footerIcon {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../../images/footerImages/footerIcon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footerCont {
    display: flex;
    justify-content: space-between;
}
.footerLogo {
    display: flex;
}
.iconText h2{
    font-weight: 600;
    font-size: 12px;
    line-height: 14.63px;
}
.iconText p{
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-top: -12.5px;
}
.iconText {
    margin-left: 7px;
}
.socIcons {
    display: flex;
}
.socCircles {
    width: 35px;
    height: 35px;
    border: 1.5px solid #0A142F;
    border-radius: 50%;
}
.socCircles:hover {
    background-color: #FDDB16;
    transition: 1s;
    cursor: pointer;
}
.socCircles:nth-child(2) {
    margin: 0 15px;
}
.link {
    position: relative;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    opacity: 0.6;
}